{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Laboratory report' %}{% endblock %}

{% block content %}
  <div class="page-header"><h1>{% trans 'Laboratory report' %}</h1></div>

<div class="row">
  <div class="col-md-7">
    <canvas id="imdgchart" width="300" height="200"></canvas>
  </div>
  <div class="col-md-4 col-md-offset-1">
  		<canvas id="typechart" width="300" height="200"></canvas>
  </div>
</div>
  <div class="btn-group dropup pull-right">
  <button type="button" class="btn btn-danger">  <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
  {% trans 'Download'%}</button>
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
  <li>  <a  
       href="{% url 'laboratory:report_building' laboratory %}?format=pdf">{% trans "PDF" %} </a>
  </li><li>
     <a 
       href="{% url 'laboratory:report_building' laboratory %}?format=ods">{% trans "Ods" %} </a>
   </li>
   
   <li>
     <a 
       href="{% url 'laboratory:report_building' laboratory %}?format=xls">{% trans "Xls" %} </a>
   </li>
   
   <li>
     <a 
       href="{% url 'laboratory:report_building' laboratory %}?format=xlsx">{% trans "Xlsx" %} </a>
   </li>
    
  </ul>
</div>
<br><br>

  
  </div>

  {% for laboratory_room in object_list %}
    <div class="alert alert-info">
      <strong>{% trans 'Laboratory room:' %}</strong> {{ laboratory_room.name }}
    </div>
    <table class="table">
      {% for furniture in laboratory_room.furniture_set.all %}
        <tr class="bg-success">
          <th colspan="4">{% trans "Furniture:" %} {{ furniture.name }}</th>
        </tr>
        <tr>
          <th>{% trans "Code" %} </th>
          <th>{% trans "Furniture" %} </th>
          <th>{% trans "Quantity" %} </th>
          <th>{% trans "Shelf" %} </th>
        </tr>
        {% for obj in furniture.get_objects %}
          <tr>
            <td>{{ obj.object.code }}</td>
            <td>{{ obj.object.name }}</td>
            <td>{{ obj.quantity }} {{ obj.get_measurement_unit_display }}</td>
            <td>{{ obj.shelf.name }}</td>
          </tr>
        {% endfor %}
      {% endfor %}
    </table>
    <br/>
  {% empty %}
    {% trans "No Labs" %}
  {% endfor %}

  <div>
 <div class="btn-group dropup pull-right">
  <button type="button" class="btn btn-danger">  <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
  {% trans 'Download'%}</button>
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
  <li>  <a  
       href="{% url 'laboratory:report_building' laboratory %}?format=pdf">{% trans "PDF" %} </a>
  </li><li>
     <a 
       href="{% url 'laboratory:report_building' laboratory %}?format=ods">{% trans "Ods" %} </a>
   </li>
   
   <li>
     <a 
       href="{% url 'laboratory:report_building' laboratory %}?format=xls">{% trans "Xls" %} </a>
   </li>
   
   <li>
     <a 
       href="{% url 'laboratory:report_building' laboratory %}?format=xlsx">{% trans "Xlsx" %} </a>
   </li>
    
  </ul>
</div>
  </div>
  <br><br>
{% endblock %}

{% block js %}       
  <script type="text/javascript">
            $.get('{% url "laboratory:laboratory_imdg_chart" laboratory %}', function(data) {
                var ctx = $("#imdgchart").get(0).getContext("2d");
                new Chart(ctx, {
                    type: 'line', data: data
                });
            });
            $.get('{% url "laboratory:laboratory_type_chart" laboratory %}', function(data) {
                var ctx = $("#typechart").get(0).getContext("2d");
                new Chart(ctx, {
                    type: 'bar', data: data
                });
            });            
             
        </script>  {% endblock %}